footer
{
    

    @media screen and (min-width: 767px) and (max-width: 2560px)
    {
        text-align: center;
         /*display flex*/
    }
    background-color: $dark-background;
    overflow: hidden;



    h2
    {
        color: $white;
        font-family: "Shrikhand", sans-serif;
        font-size: 1em;
        font-weight: 300;
        display: inline-block;
        margin-left: 20px;
    }

    ul
    {
        list-style: none;
        padding: 0;
        margin-left: 20px;
    }
    li
    {
        color: white;
    }
    a
    {
        color: white;
    }
    .fas
    {
        margin: 0 10px 0 0;
    }
}