body {
    margin: 0;

  }
  
  .loading {
    height: 100vh;
    display: flex;
    animation: delay_spin 2s ease-in-out both;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: #9493935c;
    z-index: 100;
    top: 0;

  }
  
  /* 1st load spin */
  
  .loader /*indenter*/ {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  
  .spinner {
    border: 5px solid #9356dc;
    border-radius: 50px;
  }
  
  .spinner::after {
    content: "";
    border: 5px solid transparent;
    border-radius: 50px;
    border-top-color: #FF79DA;
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    animation: spin 2s both;
    
  }
  
  @keyframes spin
  {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }

  @keyframes delay_spin {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
      z-index: 0;
    }
  }