@import "./mixin.scss";

.Restaurants
{

    h2
    {
        margin: 20px;
    }
    .Restaurant__Cards
    {
        @media screen and (min-width: 1024px) and (max-width: 2560px)
        {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }

        article
        {
            @include RestaurantCard;
            @media screen and (min-width: 1024px) and (max-width: 2560px)
            {
                width: 48%;
            }
            

            .Restaurants__Picbox
            {
                

                .Restaurants__Pic
                {
                    @include SizePics;
                }

                .new
                {
                    @include New;
                }
            }

            .Restaurants__Text
            {


                *
                {
                    margin: 0 0 0 10px;
                }
            }
            .heart_card
            {
                @include HeartCard;
                .fa-heart
                {
                    &:hover
                    {
                        font-weight: 600;
                        background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
                        background-position: bottom; /* filling par le bas*/
                        background-repeat: no-repeat;
                        -webkit-background-clip: text; /* only fill heart*/
                        -webkit-text-fill-color: transparent;
                        animation: heart-filling 1.2s ease;
                    }
                }
            }
            
        }
    }
}
.menu__delay
{
    animation: delaay 0.6s; 
    animation-timing-function: ease-in-out; 
    animation-fill-mode: both;
}
.delay__0 
{
    animation-delay: 0s;
}
.delay__1 
{
    animation-delay: 0.6s;
}
.delay__2 
{
    animation-delay: 1s;
}

@keyframes delaay 
{
    0%
    {
      opacity: 0;
      transform: translateY(100%, 0);
    }
    100%
    {
      opacity: 1;
      transform: translateY(0, 0);
    }
}

@keyframes heart-filling {
    from {background-size: 100% 0%; }
    to {background-size:100% 100%;}
  }