@import "./mixin.scss";

.Restaurants
{
    h2
    {
        margin: 20px;
    }
    .Restaurant__Cards
    {
        @media screen and (min-width: 1024px) and (max-width: 2560px)
        {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }

        article
        {
            @include RestaurantCard;
            @media screen and (min-width: 1024px) and (max-width: 2560px)
            {
                width: 48%;
            }
            

            .Restaurants__Picbox
            {
                

                .Restaurants__Pic
                {
                    @include SizePics;
                }

                .new
                {
                    @include New;
                }
            }

            .Restaurants__Text
            {


                *
                {
                    margin: 0 0 0 10px;
                }
            }
            .heart_card
            {
                @include HeartCard;
            
            }
            
        }
    }
}
